html, body {
    font-family: "Segoe UI", "Letter Gothic Std", Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #6C6C73;
    
    #app {
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        
        >div {
            display: grid;
            place-items: center;
            width: 500px;
            height: 500px;
            grid-gap: 20px;
            background-color: #ECECEE;
            
            &.gameIsNotRunning {
                .header {
                    grid-template-columns: auto;
                    grid-template-rows: auto;
                    grid-template-areas: "title";
                }
            }
            
            &.gameIsRunning {
                .header {
                    grid-template-columns: 100px auto 100px;
                    grid-template-rows: auto;
                    grid-template-areas: ". title abort";
                }
                    
                &:not(.gameIsWon) .wrapper {
                    div {
                        cursor: pointer;
                    }
                }
            }
            
            &.gameIsWon {
                .header {
                    grid-template-columns: 100px auto 100px;
                    grid-template-rows: auto;
                    grid-template-areas: ". title abort";
                }
                    
                    .wrapper {
                        div {
                            background-color: #73dce6 !important;
                        }
                    }
            }
            
            .header, .footer {
                height: 70px;
                background-color: #F8F8F8;
                width: 100%;
            }
            
            .header {
                display: grid;
                place-items: center;
                
                .title {
                    color: #6C6C73;
                    font-size: 2.6em;
                    grid-area: title;
                }
                
                .abort {
                    grid-area: abort;
                    color: #E390C3;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            
            .footer {
                color: #9C9CAC;
                font-size: 1.4em;
                display: grid;
                place-items: center;
                
                .newGame {
                    background-color: #21C3A8;
                    color: #FFFFFF;
                    padding: 7px 50px;
                    border-radius: 50px;
                    cursor: pointer;
                }
                
                .userTurn {
                    display: grid;
                    grid-template-rows: auto;
                    grid-template-columns: auto auto;
                    place-items: center;
                }
                
                svg {
                    width: 40px;
                    height: 40px;
                }
            }
            
            .wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
                place-items: center;
                width: calc(55px * 5 + 10px * 4);
                height: calc(55px * 5 + 10px * 4);
                overflow: hidden;
                grid-gap: 10px;
                // border: 10px solid #000;//#E7E7EA;
                background-color: #E7E7EA;
                padding: 10px;
                
                div {
                    // border: 10px solid #000;//#E7E7EA;
                    width: 100%;
                    height: 100%;
                    display: grid;
                    place-content: center;
                    font-weight: 900;
                    font-size: 4em;
                    
                    &.active {
                        background-color: #8A85BD;
                    }
                    font-size: 4em;
                    
                    &.inactive {
                        background-color: #ECECEE;
                    }
                }
            }
        }
    }
}
